In [2]:
import pandas as pd
import json
#Ingesting Structure data in .xslx and .csv format
df_excel = pd.read_excel("/content/drive/MyDrive/FDE LAB/LAB1/PlayTennis.xlsx")
print("\nExcel File Head:")
print(df_excel.head())

Excel File Head:
    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [3]:
df_csv = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB1/Housing_uncleaned.csv")
print("\nCSV File Head:")
print(df_csv.head())

CSV File Head:
        price    area  bedrooms  bathrooms  stories mainroad guestroom  \
0  13300000.0  7420.0       4.0        2.0      3.0      yes        no
1  12250000.0  8960.0       4.0        4.0      4.0      yes        no
2  12250000.0  9960.0       3.0        2.0      2.0      yes        no
3  12215000.0  7500.0       4.0        2.0      2.0      yes        no
4  11410000.0  7420.0       4.0        1.0      2.0      yes       yes

  basement hotwaterheating airconditioning  parking prefarea furnishingstatus
0       no              no             yes        2      yes        furnished
1       no              no             yes        3       no        furnished
2      yes              no              no        2      yes   semi-furnished
3      yes              no             yes        3      yes        furnished
4      yes              no             yes        2       no        furnished

In [4]:
# Ingesting unstructured text data
df_txt = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB1/dummy_text.txt", delim_whitespace=True)
print("\nText File Head:")
print(df_txt.head())

/tmp/ipython-input-2634854602.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_txt = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB1/dummy_text.txt", delim_whitespace=True)

Text File Head:
Empty DataFrame
Columns: [Data, engineering, plays, a, crucial, role, in, modern, software, systems., It, focuses, on, collecting,, storing,, processing,, and, transforming, large, volumes, of, data., Engineers, design, pipelines, that, ensure, data, is, reliable,, scalable,, and.1, accessible, for, analytics, and.2, machine, learning, applications., Efficient, data.1, handling, improves, decision-making, and.3, system, performance.]
Index: []

[0 rows x 47 columns]

In [5]:

#Ingesting semi-structured JSON data (Flat JSON file and nested JSON file)
df_json_flat = pd.read_json("/content/drive/MyDrive/FDE LAB/LAB1/normal_json.json")
print("\nNormal JSON File Head:")
print(df_json_flat.head())


with open("/content/drive/MyDrive/FDE LAB/LAB1/nested_json.json") as f:
    nested_data = json.load(f)
df_json_nested = pd.json_normalize(nested_data)
print("\nNested JSON File Head:")
print(df_json_nested.head())

Normal JSON File Head:
    id   name department  marks
0  101   Amit         IT     78
1  102   Rina        CSE     85
2  103  Rahul        ECE     72

Nested JSON File Head:
    id  name department                   skills  marks.OS  marks.DBMS  \
0  101  Amit         IT     [Python, SQL, Linux]        78          85
1  102  Rina        CSE  [Java, Data Structures]        88          90

   marks.CN address.city address.state  address.pincode
0        72      Kolkata   West Bengal           700091
1        84    Bengaluru     Karnataka           560001