In [5]:

path = "/content/drive/MyDrive/FDE LAB/LAB 3/customers.csv"

In [6]:

import pandas as pd
df = pd.read_csv(path)
display(df)

,customer_id,customer_name,age,gender,city,account_type,annual_spend
0,1,Ravi Kumar,28,M,Delhi,Premium,120000
1,2,Anita Sharma,34,F,NaN,Standard,85000
2,3,Suresh Rao,45,M,Bengaluru,Premium,150000
3,3,Suresh Rao,45,M,Bengaluru,Premium,150000
4,4,Priya Singh,29,F,Chennai,Standard,72000
5,5,Amit Verma,41,M,NaN,Premium,132000
6,6,Neha Gupta,26,F,Kolkata,Standard,68000
7,7,Rahul Mehta,37,M,Mumbai,Premium,140000
8,8,Kavita Nair,32,F,NaN,Standard,75000
9,9,Arjun Patel,39,M,Ahmedabad,Premium,110000
10,10,Sunita Das,44,F,Kolkata,Standard,90000
11,11,Manoj Iyer,51,M,Chennai,Premium,160000
12,12,Pooja Malhotra,27,F,Delhi,Standard,65000
13,13,Deepak Joshi,35,M,NaN,Standard,80000
14,14,Meena Kulkarni,48,F,Pune,Premium,145000
15,15,Rohit Agarwal,31,M,Noida,Standard,78000
16,16,Anjali Sen,29,F,NaN,Standard,70000
17,17,Vikas Bansal,42,M,Gurgaon,Premium,155000
18,18,Shalini Roy,36,F,Bengaluru,Standard,82000
19,19,Nitin Saxena,50,M,Delhi,Premium,170000
20,20,Rekha Mishra,33,F,NaN,Standard,69000

In [7]:


df1 = df.drop_duplicates()
display(df1)

,customer_id,customer_name,age,gender,city,account_type,annual_spend
0,1,Ravi Kumar,28,M,Delhi,Premium,120000
1,2,Anita Sharma,34,F,NaN,Standard,85000
2,3,Suresh Rao,45,M,Bengaluru,Premium,150000
4,4,Priya Singh,29,F,Chennai,Standard,72000
5,5,Amit Verma,41,M,NaN,Premium,132000
6,6,Neha Gupta,26,F,Kolkata,Standard,68000
7,7,Rahul Mehta,37,M,Mumbai,Premium,140000
8,8,Kavita Nair,32,F,NaN,Standard,75000
9,9,Arjun Patel,39,M,Ahmedabad,Premium,110000
10,10,Sunita Das,44,F,Kolkata,Standard,90000
11,11,Manoj Iyer,51,M,Chennai,Premium,160000
12,12,Pooja Malhotra,27,F,Delhi,Standard,65000
13,13,Deepak Joshi,35,M,NaN,Standard,80000
14,14,Meena Kulkarni,48,F,Pune,Premium,145000
15,15,Rohit Agarwal,31,M,Noida,Standard,78000
16,16,Anjali Sen,29,F,NaN,Standard,70000
17,17,Vikas Bansal,42,M,Gurgaon,Premium,155000
18,18,Shalini Roy,36,F,Bengaluru,Standard,82000
19,19,Nitin Saxena,50,M,Delhi,Premium,170000
20,20,Rekha Mishra,33,F,NaN,Standard,69000

In [8]:
un = df1.fillna("Unknown")

display(un)

,customer_id,customer_name,age,gender,city,account_type,annual_spend
0,1,Ravi Kumar,28,M,Delhi,Premium,120000
1,2,Anita Sharma,34,F,Unknown,Standard,85000
2,3,Suresh Rao,45,M,Bengaluru,Premium,150000
4,4,Priya Singh,29,F,Chennai,Standard,72000
5,5,Amit Verma,41,M,Unknown,Premium,132000
6,6,Neha Gupta,26,F,Kolkata,Standard,68000
7,7,Rahul Mehta,37,M,Mumbai,Premium,140000
8,8,Kavita Nair,32,F,Unknown,Standard,75000
9,9,Arjun Patel,39,M,Ahmedabad,Premium,110000
10,10,Sunita Das,44,F,Kolkata,Standard,90000
11,11,Manoj Iyer,51,M,Chennai,Premium,160000
12,12,Pooja Malhotra,27,F,Delhi,Standard,65000
13,13,Deepak Joshi,35,M,Unknown,Standard,80000
14,14,Meena Kulkarni,48,F,Pune,Premium,145000
15,15,Rohit Agarwal,31,M,Noida,Standard,78000
16,16,Anjali Sen,29,F,Unknown,Standard,70000
17,17,Vikas Bansal,42,M,Gurgaon,Premium,155000
18,18,Shalini Roy,36,F,Bengaluru,Standard,82000
19,19,Nitin Saxena,50,M,Delhi,Premium,170000
20,20,Rekha Mishra,33,F,Unknown,Standard,69000

In [9]:
un['customer_name'] = un['customer_name'].astype(str).str.upper()
display(un)

,customer_id,customer_name,age,gender,city,account_type,annual_spend
0,1,RAVI KUMAR,28,M,Delhi,Premium,120000
1,2,ANITA SHARMA,34,F,Unknown,Standard,85000
2,3,SURESH RAO,45,M,Bengaluru,Premium,150000
4,4,PRIYA SINGH,29,F,Chennai,Standard,72000
5,5,AMIT VERMA,41,M,Unknown,Premium,132000
6,6,NEHA GUPTA,26,F,Kolkata,Standard,68000
7,7,RAHUL MEHTA,37,M,Mumbai,Premium,140000
8,8,KAVITA NAIR,32,F,Unknown,Standard,75000
9,9,ARJUN PATEL,39,M,Ahmedabad,Premium,110000
10,10,SUNITA DAS,44,F,Kolkata,Standard,90000
11,11,MANOJ IYER,51,M,Chennai,Premium,160000
12,12,POOJA MALHOTRA,27,F,Delhi,Standard,65000
13,13,DEEPAK JOSHI,35,M,Unknown,Standard,80000
14,14,MEENA KULKARNI,48,F,Pune,Premium,145000
15,15,ROHIT AGARWAL,31,M,Noida,Standard,78000
16,16,ANJALI SEN,29,F,Unknown,Standard,70000
17,17,VIKAS BANSAL,42,M,Gurgaon,Premium,155000
18,18,SHALINI ROY,36,F,Bengaluru,Standard,82000
19,19,NITIN SAXENA,50,M,Delhi,Premium,170000
20,20,REKHA MISHRA,33,F,Unknown,Standard,69000

In [10]:
import numpy as np

conditions = [
    df1['annual_spend'] < 80000,
    (df1['annual_spend'] >= 80000) & (df1['annual_spend'] <= 120000)
]
choices = ['low', 'medium']

df1['spend_category'] = np.select(conditions, choices, default='high')
display(df1)

/tmp/ipython-input-44664540.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['spend_category'] = np.select(conditions, choices, default='high')

,customer_id,customer_name,age,gender,city,account_type,annual_spend,spend_category
0,1,Ravi Kumar,28,M,Delhi,Premium,120000,medium
1,2,Anita Sharma,34,F,NaN,Standard,85000,medium
2,3,Suresh Rao,45,M,Bengaluru,Premium,150000,high
4,4,Priya Singh,29,F,Chennai,Standard,72000,low
5,5,Amit Verma,41,M,NaN,Premium,132000,high
6,6,Neha Gupta,26,F,Kolkata,Standard,68000,low
7,7,Rahul Mehta,37,M,Mumbai,Premium,140000,high
8,8,Kavita Nair,32,F,NaN,Standard,75000,low
9,9,Arjun Patel,39,M,Ahmedabad,Premium,110000,medium
10,10,Sunita Das,44,F,Kolkata,Standard,90000,medium
11,11,Manoj Iyer,51,M,Chennai,Premium,160000,high
12,12,Pooja Malhotra,27,F,Delhi,Standard,65000,low
13,13,Deepak Joshi,35,M,NaN,Standard,80000,medium
14,14,Meena Kulkarni,48,F,Pune,Premium,145000,high
15,15,Rohit Agarwal,31,M,Noida,Standard,78000,low
16,16,Anjali Sen,29,F,NaN,Standard,70000,low
17,17,Vikas Bansal,42,M,Gurgaon,Premium,155000,high
18,18,Shalini Roy,36,F,Bengaluru,Standard,82000,medium
19,19,Nitin Saxena,50,M,Delhi,Premium,170000,high
20,20,Rekha Mishra,33,F,NaN,Standard,69000,low

In [11]:
customer_summary = df1.groupby(['city', 'spend_category']).agg(
    total_customers=('customer_id', 'size'),
    avg_annual_spend=('annual_spend', 'mean')
).reset_index()
display(customer_summary)

         city spend_category  total_customers  avg_annual_spend
0   Ahmedabad         medium                1          110000.0
1   Bengaluru           high                1          150000.0
2   Bengaluru         medium                1           82000.0
3     Chennai           high                1          160000.0
4     Chennai            low                1           72000.0
5       Delhi           high                1          170000.0
6       Delhi            low                1           65000.0
7       Delhi         medium                1          120000.0
8     Gurgaon           high                1          155000.0
9     Kolkata            low                1           68000.0
10    Kolkata         medium                1           90000.0
11     Mumbai           high                1          140000.0
12      Noida            low                1           78000.0
13       Pune           high                1          145000.0

In [12]:
df = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB 3/etl_analytics_ready.csv")
display(df)

    customer_id       city spend_category  total_customers  avg_annual_spend
0             0  Ahmedabad         medium                1            110000
1             1  Bengaluru           high                1            150000
2             2  Bengaluru         medium                1             82000
3             3    Chennai           high                1            160000
4             4    Chennai            low                1             72000
5             5      Delhi           high                1            170000
6             6      Delhi            low                1             65000
7             7      Delhi         medium                1            120000
8             8    Gurgaon           high                1            155000
9             9    Kolkata            low                1             68000
10           10    Kolkata         medium                1             90000
11           11     Mumbai           high                1            140000
12           12      Noida            low                1             78000
13           13       Pune           high                1            145000